# Next.js / Frontend Public Env Variables
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=69c3aeb5001e29bce67a
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_PROFILES_COLLECTION_ID=

# Server-Side / Functions Env Variables
APPWRITE_API_KEY=
